{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-3 mb-5">
        <div class="sidebar-sticky">
            <div class="sidebar-heading">All posts</div>
            {% set articles_by_year = articles|groupby('date.year')|reverse %}
            {% for year, year_articles in articles_by_year %}
            <div class="sidebar-year">{{ year }}</div>
            <ul class="list-unstyled sidebar-list mb-3">
                {% for article in year_articles|sort(attribute='date', reverse=True) %}
                <li>
                    <a href="{{ SITEURL }}/{{ article.url }}" class="sidebar-link {% if article == article_current %}active{% endif %}">
                        {{ article.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div>
    <div class="col-lg-9">
        {% block blog_content %}{% endblock %}
    </div>
</div>
{% endblock %}
